<h3>Online Shoes</h3>
{{#if last_name}}
  <h2>{{last_name}}</h2>

{{/if}}

<div class="d-flex justify-content-evenly">
  {{#each alumnos}}
    <div class="card" style="width: 15rem">
      <img src={{this.photo}} style="width: 15rem;height:8rem" />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Producto de Calzado</p>
        <a href="#" class="emit_data" class="btn btn-primary">+Info</a>
      </div>
    </div>
  {{/each}}
</div>